<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="template">	
    <script type="text/html" id="user-form-component-template">
		<div class="modal" tabindex="-1" role="dialog">
	  		<div class="modal-dialog" role="document">
    			<div class="modal-content">
      				<form id="user-form" @submit="submit">
	      				<div class="modal-header">
	        				<h5 class="modal-title">Add New User</h5>
	        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          					<span aria-hidden="true">&times;</span>
	        				</button>
	      				</div>
	      				<div class="modal-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
        		            			<label for="username">Username</label>
                		    			<input type="text" class="form-control required" name="username" placeholder="Username" v-model="data.username">
                  					</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
        		            			<label for="password">Password</label>
                		    			<input type="password" :disabled="username != ''" class="form-control required" name="password" placeholder="Password" v-model="data.password">
                  					</div>
								</div>
							</div>
							<div class="form-group">
                    			<label for="roleCode">Role</label>
		                		<select name="roleCode" v-model="data.roleCode" class="form-control required">
		                			<option value="">Select Role</option>
	    	            			<option th:each="r : ${roles}" th:value="${r.roleCode}">[[${r.roleName}]]</option>
	        	        		</select>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
        		            			<label for="firstName">First Name</label>
                		    			<input type="text" class="form-control required" name="firstName" placeholder="First Name" v-model="data.firstName">
                  					</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
        		            			<label for="lastName">Last Name</label>
                		    			<input type="text" class="form-control required" name="lastName" placeholder="Last Name" v-model="data.lastName">
                  					</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
        		            			<label for="mobileNo">Mobile</label>
                		    			<input type="text" class="form-control required" name="mobileNo" placeholder="Mobile No" v-model="data.mobileNo">
                  					</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
        		            			<label for="email">Email</label>
                		    			<input type="email" class="form-control required" name="email" placeholder="Email" v-model="data.email">
                  					</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
        		            			<label for="ipAddress">IP Address</label>
                		    			<input type="text" class="form-control required" name="ipAddress" placeholder="IP Address" v-model="data.ipAddress">
                  					</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
        		            			<label for="macAddress">Mac Address</label>
                		    			<input type="text" class="form-control required" name="macAddress" placeholder="Mac Address" v-model="data.macAddress">
                  					</div>
								</div>
							</div>
	      				</div>
	      				<div class="modal-footer">
	        				<button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="processing">Close</button>
	        				<button type="submit" class="btn btn-primary" :disabled="processing">
								<template v-if="processing">Saving User...</template>
								<template v-if="!processing">Save User</template>
							</button>
	      				</div>
      				</form>
    			</div>
  			</div>
		</div>

	</script>
</div>
	<div th:fragment="scripts">
		<script type="text/javascript">
		
			Vue.component('user-form', {
				template: '#user-form-component-template',
				props: ["username", "show"],
				data: function(){
					return {
						loading: false,
						processing: false,
						error: false,
						data: {roleCode:''},
						showDialog: false
					}
				},
				watch: {
					show: function(newVal){
						if(newVal){
							$(this.$el).modal('show')
						}
					},
					username: function(newVal){
						if(newVal){
							this.loadData();
						}else{
							this.data = Object.assign({roleCode: ''});
						}
					}
				},
				created: function(){
					var that = this;
				},
				mounted: function(){
					var that = this;
					$(this.$el).on('hidden.bs.modal', function(){
						that.$emit('close');
					});
				},
				methods: {
					loadData: function(){
						var that = this;
						this.loading = true;
						
						$.getJSON( appContext + "api/users/" + this.username, function( data ) {
							  that.data = data;
							  that.loading = false;
							  that.error = false;
						}).fail(function(response){
								showErrorFromResponse(response)
							  	that.loading = false;
							  	that.error = true;
						});
						
					},
					submit: function(e){
						var that = this;
						e.preventDefault();
						var url = appContext + "api/users" + (!that.username? '' : '/' + that.username);
						$('#user-form').ajaxSubmit({
							beforeSubmit: function(formData, jqForm, options){
								that.processing = $(jqForm).valid();
								return that.processing;
							},
							success: function(data){
								that.processing = false;
								if(that.username){
									showSuccessMessage("User updated successfully");
								}else{
									showSuccessMessage("User added successfully");
								}
								that.$emit('created', {username: data});
								$(that.$el).modal('hide')
							},
							error: function(response){
								showErrorFromResponse(response);
								that.processing = false;
							},
							url: url,
							type: 'POST'
						});
					}
				}
				
			});
		
		</script>	
	</div>

</html>
