<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="template">	
    <script type="text/html" id="account-form-component-template">
		<div class="modal" tabindex="-1" role="dialog">
	  		<div class="modal-dialog modal-lg" role="document">
    			<div class="modal-content">
      				<form id="user-form" @submit="submit">
	      				<div class="modal-header">
	        				<h5 class="modal-title">Add New Account</h5>
	        				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          					<span aria-hidden="true">&times;</span>
	        				</button>
	      				</div>
	      				<div class="modal-body">
							<div class="form-group">
                    			<label for="type">Account Type</label>
								<select-account name="type" :selected-code="data.type" :selected-name="data.typeName" group-account="1" level-gt="1"></select-account>
							</div>
							<div class="row">
								<div class="col-3">
									<div class="form-group">
        				            	<label for="code">Code</label>
                				    	<input type="text" class="form-control required" name="code" placeholder="Code" v-model="data.code">
                  					</div>
								</div>
								<div class="col-9">
									<div class="form-group">
        				            	<label for="name">Name/Title</label>
                				    	<input type="text" class="form-control required" name="name" placeholder="Name" v-model="data.name">
                  					</div>
								</div>
							</div>
							<div class="form-group">
                    			<label for="description">Description</label>
								<textarea name="description" v-model="data.description" class="form-control"></textarea>
							</div>
							<div class="form-group">
                    			<label for="openingDate">Opening Date</label>
								<div class='input-group date' id='datetimepicker1'>
                    				<input type="text" class="form-control required" name="openingDate" placeholder="Opening Date" v-model="data.openingDate">
                				</div>								
							</div>

							<table class="table table-bordered table-hover">
            	      			<thead>
                	  				<tr>
                    					<th width="38%">Branch</th>
                    					<th width="18%">Opening Debit</th>
			            	        	<th width="18%">Opening Credit</th>
			            	        	<th width="16%">Balance</th>
			            	        	<th width="10%">Action</th>
			                	  	</tr>
	                  			</thead>
   	              				<tbody>
									<tr v-for="(d,idx) in data.balances">
										<td><select-branch name="branchId" :selected-code="d.branchId" :selected-name="d.branchName"></select-branch></td>
										<td><input type="text" class="form-control required" name="openingDebit" placeholder="Opening Debit" v-model="d.openingDebit"></td>
										<td><input type="text" class="form-control required" name="openingCredit" placeholder="Opening Credit" v-model="d.openingCredit"></td>
										<td><input type="text" class="form-control" disabled="disabled" name="openingBalance" placeholder="Opening Balance" :value="d.openingDebit-d.openingCredit"></td>
										<td>
											<a class="btn btn-xs btn-primary" @click="addBranchBalance"><i class="fas fa-plus"></i></a>
											<a class="btn btn-xs btn-danger" @click="removeBranchBalance(idx)" v-if="idx > 0"><i class="fas fa-minus"></i></a>
										</td>
									</tr>
								</tbody>
							</table>
                    	</div>
	      				<div class="modal-footer">
	        				<button type="button" class="btn btn-secondary" data-dismiss="modal" :disabled="processing">Close</button>
	        				<button type="submit" class="btn btn-primary" :disabled="processing">
								<template v-if="processing">Saving Account...</template>
								<template v-if="!processing">Save Account</template>
							</button>
	      				</div>
      				</form>
    			</div>
  			</div>
		</div>

	</script>
</div>
	<div th:fragment="scripts">

	<div th:include="vue-components/select-branch::template"></div>
	<div th:include="vue-components/select-branch::scripts"></div>
	<div th:include="vue-components/select-account::template"></div>
	<div th:include="vue-components/select-account::scripts"></div>

		<script type="text/javascript">
		
			Vue.component('account-form', {
				template: '#account-form-component-template',
				props: ["type", "code", "show"],
				data: function(){
					return {
						loading: false,
						processing: false,
						error: false,
						data: {code:'', type: '', typeName:''},
						showDialog: false
					}
				},
				watch: {
					show: function(newVal){
						if(newVal){
							$(this.$el).modal('show')
						}
					},
					code: function(newVal){
						if(newVal){
							this.loadData();
						}else{
							this.data = Object.assign({code: '', type: '', typeName: '', balances: [{openingDebit: 0, openingCredit: 0}]});
						}
					},
					type: function(newVal){
						this.data.type = newVal.code;
						this.data.typeName = newVal.name;
					}
				},
				created: function(){
					var that = this;
					if(!this.code){
						this.data = Object.assign({code: '', type: '', typeName: '', balances: [{openingDebit: 0, openingCredit: 0}]});
					}
				},
				mounted: function(){
					var that = this;
					$(this.$el).on('hidden.bs.modal', function(){
						that.$emit('close');
					});
				},
				methods: {
					loadData: function(){
						var that = this;
						this.loading = true;
						
						$.getJSON( appContext + "api/accounts/" + this.code, function( data ) {
							  that.data = data;
							  that.loading = false;
							  that.error = false;
						}).fail(function(response){
								showErrorFromResponse(response)
							  	that.loading = false;
							  	that.error = true;
						});
						
					},
					submit: function(e){
						var that = this;
						e.preventDefault();
						var url = appContext + "api/accounts" + (!that.code? '' : '/' + that.code);
						$('#account-form').ajaxSubmit({
							beforeSubmit: function(formData, jqForm, options){
								that.processing = $(jqForm).valid();
								return that.processing;
							},
							success: function(data){
								that.processing = false;
								if(that.username){
									showSuccessMessage("Account updated successfully");
								}else{
									showSuccessMessage("Account added successfully");
								}
								that.$emit('created', {code: data});
								$(that.$el).modal('hide')
							},
							error: function(response){
								showErrorFromResponse(response);
								that.processing = false;
							},
							url: url,
							type: 'POST'
						});
					},
					addBranchBalance: function(){
						this.data.balances.push(Object.assign({openingDebit: 0, openingCredit: 0, balance: 0}))
					},
					removeBranchBalance: function(idx){
						this.$delete(this.data.balances, idx)
					}
				}
				
			});
		
		</script>	
	</div>

</html>
